*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background: #000;
}
#logo{
    width: 60px;
    height: 60px;
}

h1, h2, h3, h4, h5, h6{
    color: #00FFFF;

}
p{
    color: #fff;
}
a{
    text-decoration: none;
    color: #fff;
}

input::placeholder {
    color: #fff;
    font-size: 1.2em;
    font-style: italic;
    opacity: 0.5;
}